Library
Logs
Packages
ProjectSettings
UserSettings
Temp
*.zip
.vs/TeamProject/v17/.suo
Assembly-CSharp.csproj
TeamProject.sln
Assets/LowpolyStreetPack/Meshes/Textures/atlas.tga
Assets/LowpolyStreetPack/Meshes/Textures/atlas.tga.meta
